<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedéx | Detalhes</title>
</head>

<body>
    <nav>
        <article>
            <img src="/img/pokebola-go.png" class="img-pokebola" alt="Foto da pokebola">
            <h1>
                <a href="/">Pokedéx</a>
            </h1>
        </article>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
        </ul>
    </nav>

    <div class='container'>
        <header id="pokedex"> 
            <h1>
                <%= pokemon.nome %><span style="font-weight: 200"> N° <%= pokemon.numero %></span>
            </h1>
        </header>

        <section id="details">
            <img src="<%= pokemon.imagem %>"alt="">
            <div id="infos">
                <p>
                    <%= pokemon.descricao %>
                </p>
            <div id="info-datail">
            <div class='col'>
                <h4>Altura:</h4>
                <h3>
                    <p><%= pokemon.altura %></p>
                </h3>
                <h4>Peso:</h4>
                <h3>
                    <p><%= pokemon.peso %></p>
                </h3>
            </div>
            <div class='col'>
                <h4>Categoria:</h4>
                <h3>
                    <p><%= pokemon.categoria %></p>
                </h3>
                <h4>Habilidade:</h4>
                <h3>    
                    <p><%= pokemon.habilidade %></p>
                </h3>
            </div>
            </div>
            <div class='tipo'>
                <h3>Tipo:</h3>
                <h5>
                    <p><%= pokemon.tipo %></p>
                </h5>
            </div>
    </div>
        </section>
    </section>
</div>
    <script src="/js/script.js"></script>
</body>
</html>